@charset "utf-8";
/* CSS Document */
.header{
	height: 130px;
}
.menu_left{
	width:150px;
	overflow:hidden;
}
.box_right{
	min-height:0;
	box-shadow: 0 0 10px #BDBDBD;
	-webkit-box-shadow: 0 0 10px #BDBDBD;
	-moz-box-shadow: 0 0 10px #BDBDBD;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding-top:20px;
	padding-bottom:20px;
}
.box_left{
	padding-top:20px;
}
.sidebar-nav > ul > li:not(.nav-header){
	margin-right:-2px;
	margin-left:-2px;
}

